.Rentukka {
    color: white;
    background-color: darkgreen;
}
.Taide {
    background-color: yellow;
}
.Lozzi {
    background-color: orange;
}
.Piato {
    color: white;
    background-color: blue;
}
.Maija {
    background-color: palevioletred;
}
.Ylistö {
    color: white;
    background-color: blueviolet;
}
.Fiilu {
    color: white;
    background-color: brown;
}
.Syke {
    background-color: lightblue;
}
.Uno {
    color: white;
    background-color: black;
}
.Kvarkki {
    background-color: white;
}
.Belvedere {
    background-color: burlywood;
}