a {
    color: black;
}

.Rentukka {
    color: white;
    background-color: darkgreen;
}
.Rentukka a {
    color: white;
}

.Taide {
    background-color: yellow;
}

.Lozzi {
    background-color: orange;
}

.Piato {
    color: white;
    background-color: blue;
}
.Piato a {
    color: white;
}

.Maija {
    background-color: rgb(112, 152, 216);
}

.Ylistö {
    color: white;
    background-color: rgb(27, 0, 136);
}
.Ylistö a {
    color: white;
}

.Fiilu {
    color: white;
    background-color: brown;
}
.Fiilu a {
    color: white;
}

.Syke {
    background-color: rgb(207, 242, 157);
}

.Uno {
    color: white;
    background-color: rgb(138, 142, 30);
}
.Uno a {
    color: white;
}

.Kvarkki {
    background-color: rgb(106, 116, 249);
}

.Belvedere {
    background-color: rgb(156, 156, 156);
}
.Ilokivi {
    background-color: rgb(178, 226, 56);
}
.Musakampus {
    background-color: rgb(226, 107, 56);
    color:white;
}
.Twist {
    background-color: rgb(226, 56, 56);
}
.Cube {
    background-color: rgb(129, 34, 69);
    color: white;
}
.Anna {
    background-color: rgb(245, 11, 105);
}



body {
  margin: 0;
  padding: 2rem;
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse; 
}
th, td {
  padding: 0.25rem;
}
th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
